html{
    font-size: 16;
    width: 100%;
    height: auto;
    
}
body {
    background-color: #CBC8B9;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
}

body h1{
    width: auto;
}

/*--------------------------Banner------------------------------------*/



/*

flex
.header img{
    display: inline-block;
    width: 100px;
    height: 50px;
    flex-shrink: 1;
    margin-left: 1rem;
}
.header .title{
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #588157;
    font-weight: 400;
    width: 40%;
    margin: 1rem;
    flex-shrink: 2;
}
.header .nav li h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #252B2D;
    font-weight: 700;
    display: inline-block;
}

*/

.header{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position:relative
}
.header .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 400;
    width: 100%;
    flex-shrink: 1;
    text-align: right;
    margin: 1rem;
    
}

.header .nav li{
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

.header a {
    text-decoration: none;
}

.navSelector{
    display: block;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #252B2D;
    font-weight: 700;
    margin: 12.5px 0;

}

#nav1 span , #nav2 span, #nav3 span {
    color: #558564;
}


#darkMode {
    display: block;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #252B2D;
    font-weight: 700;
    margin: 12.5px 0;
}

#darkMode:hover {
    text-decoration: none;
    color: #558564;
}

.underlineNav {
    display: inline-block;
    position: relative;
    color: #252B2D;
    text-decoration: none;
  }
  
  .underlineNav::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #558564;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .underlineNav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
/*--tablet--*/
@media screen and (max-width: 870px) {
    
    .header{
        height:4.5rem ;
        flex-wrap: wrap;
    }

    .header .nav {
        display: block;
        width: 100%;
        align-items: baseline;
        text-align: right;
        margin: 0;
        padding: 0;
    }

    .header .nav li {
        margin: 0 16px;
    }

    .navSelector, #darkMode {
        font-size: 0.8rem;
    }

  }

/*--mobile--*/


/*--------------------------Main------------------------------------*/

.main{
    margin-top: 2rem;
    height: 90vh;
    width: auto;
    position:relative
}
#mainTitle{
    width: auto;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.5rem;
    color: #252B2D;
    margin: 10% 25%;
    line-break: 0;
    line-height: 80px;
}

#hello {
    color: #558564;
    font-size: 2rem;
}
#myname {
    font-size: 2rem;
}

#iam {
    font-size: 3.5rem;
}



/*--tablet--*/
@media screen and (max-width: 1300px) {
    .main {
        height: 600px;
    }
    #mainTitle{
        margin: 10% 10%;
        font-size: 2rem;
        line-height: 70px;
    }
    #hello {
        font-size: 1.5rem;
    }
    #myname {
        font-size: 1.5rem;
    }
    
    #iam {
        font-size: 3rem;
    }

  }
@media screen and (max-width: 870px) {
    .main {
        height: 500px;
    }
    #mainTitle{
        
        margin: 10% 10%;
        font-size: 1.5rem;
        line-height: 60px;
    }
    #hello {
        font-size: 1.2rem;
    }
    #myname {
        font-size: 1.2rem;
    }
    
    #iam {
        font-size: 2rem;
    }
    }



  /*--mobile--*/
  @media screen and  (max-width: 550px) {
    .main{
        height: 350px;
    }
    #mainTitle{
        font-size:1.5rem;
        line-height: 40px;
    }
    #hello {
        font-size: 1.2rem;
    }
    #myname {
        font-size: 1.2rem;
    }
    
    #iam {
        font-size: 2rem;
    }
  }
/*--------------------------About------------------------------------*/

.about{
    margin: 1.5rem;
    padding: 0.2rem;
    height: 90vh;
    width: auto;
    position:relative;
    margin: 0 25%;

}
.about h1{
    margin: 1rem;
    font-family: 'Montserrat';
    font-size: 2rem;
    color: #252B2D;
    width: 100%;
}

.about h1 span{
    color: #558564;
}

.about .aboutPage{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.about .description{
    margin: 1rem;
    width: 60%;
    font-family: 'Roboto', serif;
    font-size: 1.25rem;
    color: #252B2D;
}
.about img{
    height: 400px;
    
}

.underlineLink {
    display: inline-block;
    position: relative;
    color: #558564;
    text-decoration: none;
  }
  
  .underlineLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #558564;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .underlineLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#skills{
    width: 100%;
    margin: 10px 3.1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}
#skills h3{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: #252B2D;
    width: 100%;
}
#skillImage{
    height: 100px;
    width: auto;
}


@media screen and (max-width: 1300px) {
    .about{
        height: 900px;
        margin: 10% 10%;
    }
    .about h1{
        margin: auto;
    }
    .about .aboutPage{
        flex-wrap: wrap;
    }
    .about .description{
        font-size: 1.2rem;
        width: 100%;
    }
  }
/*--tablet--*/
@media screen and (min-width: 551px) and (max-width: 870px) {
    .about{
        height: 900px;
        margin: 10% 10%;
    }
    .about h1{
        font-size: 1.7rem;
        margin: auto;
    }
    .about .aboutPage{
        flex-wrap: wrap;
    }
    .about .description{
        font-size: 1.2rem;
        width: 100%;
    }
  }

  /*--mobile--*/
  @media screen and (max-width: 550px) {
    .about{
        height: 900px;
        margin: 10% 10%;
    }
    .about h1{
        font-size: 1.7rem;
        margin: auto;
    }
    .about .aboutPage{
        flex-wrap: wrap;
    }
    .about .description{
        font-size: 1rem;
        width: 100%;
    }
  }
/*--------------------------Portfolio------------------------------------*/
.portfolio{
    margin: 0;
    height: 50vh;
    width: auto;
}
.portfolio h1{
    margin: 1rem;
    font-family: 'Montserrat';
    font-size: 3rem;
    color: #252B2D;
    width: auto;
    height: auto;
    text-align: center;
}
.portfolio .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.portfolio .container .project{
    display: flex;
    flex-direction: column;
    border: 1px solid #588157;
    margin: 1rem ;
    width: 45%;
    height: auto;
    align-items: center;

}
.portfolio .container .project img{
    height: 200px;
    margin: 1rem auto;
    
}
.portfolio .container .project h2{
    margin: 1rem auto;
    font-family: 'Montserrat', serif;
    font-size: 1.25rem;
    color: #3A5A40;
    text-align: center;
}
.portfolio .container .project p{
    margin: 1rem auto;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    color: #3A5A40;
    text-align: center;
    margin: 0 0.7rem;
}

/*--tablet--*/
@media screen and (max-width: 870px) {
    .portfolio{
        height: 200px;
    }
    .portfolio h1{
        font-size: 2rem;
    }
  }

  /*--mobile--*/
  @media screen and (max-width: 550px) {

  }
/*--------------------------footer------------------------------------*/
.contact{
    width: 100%;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    position:relative
}
.contact h1{
    font-size: 3rem;
    margin: auto;
}
.contact .linkcontainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    margin-bottom: 0.7rem;
}
.contact .linkcontainer .email {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    width: 285px;
    margin: 0;
    color: #252B2D;
}
.contact .linkcontainer .email h2{
    font-size: 1rem;
    margin: 0.3rem;
}
.contact .linkcontainer .email .material-icons{
    margin: 0.2rem;
}
.contact .linkcontainer .email a{
    margin: 0.2rem;
}

.contact .linkcontainer .links{
    margin: 2rem;
    width: 30px;
}
.contact .linkcontainer .links a img{
    width: 23px;
}

.contact p{
    color: #252B2D;
}
.heart {
    color: #558564;
}
/*--tablet--*/
@media screen and (max-width: 870px) {
    .contact h1{
        font-size: 1.5rem;
    }
  }

  /*--mobile--*/
  @media screen and (max-width: 550px) {

  }